@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 233, 233, 233;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 233, 233, 233;
	}
}

body {
	color: rgb(var(--foreground-rgb));
}

.calculator {
	background-image: url('./images/calculator-bg.jpg');
}

.special-direction {
	direction: rtl;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
